<nav class="blue lighten-3 hide-only-small">
        <a href="/"><i class="brand-log left">Waterfall AirBnB</a></i>
        <ul class="right">
            <li> <a href="/#">homepage</a></i></li>
            <li><a href="/register">Register</a></li>
            <!-- <li><a href="/login">Login</a></li> -->
            <!-- <li><a href="/home">Profile</a></li> -->
            <li><a href="/house-upload">Become a host</a></i></li>
            <!-- <li><a href="/logout">logout</a></li> -->
            <!-- <input type="text" placeholder="Search.."> -->
        </ul>
    </nav> 