<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url(https://www.xtns.org/wp-content/uploads/2015/04/island-resort-exciting-best-resort-in-bora-bora-island-resort-jobs-in-bora-bora-resorts-in-bora-bora-island-resorts-in-bora-bora-all-inclusive-best-resort-in-bora-bora-island-which-resort-in-bor-728x400.jpg);
            background-size: cover;
        }

        .container {
            width: 350px;
            font-size: 20px;
            opacity: 0.8;
            line-height: 1.1;
            background: #fff;
            margin: 0 auto;
            color: lightseagreen;
            font-family: Poppins;
            @include box-shadow(0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05));
            @include border-radius(10px);
        }
    </style>
    <meta charset="UTF-8">

<body>

    <div class="main">

        <font color="lightseagreen">
            <h1>Register</h1>
        </font>
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form">

                    <div class="form-group">
                        <a class="google-btn" href="/auth/google">REGISTER WITH GOOGLE</a>
                    </div>

                </form>

            </div>

        </div>

</body>

</html>